body {
    background-color: lightgray;
}

#container {
    width: 550px;
    height: 550px;
    margin: 50px auto;
    background-color: #FFFFFF;
}

/* Head */
#head {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#colorInput {
    height: 42px;
    width: 61px;
}

#selectBox {
    width: 312px;
    margin: 0 8px;
    font-weight: 400;
}

#getColorBtn {
    width: 123px;
    background-color: #FFFFFF;
}

#getColorBtn:hover {
    background-color: lightgray;
}

#selectBox, #getColorBtn {
    height: 42px;
    border-radius: 6px;
    border: 1px #D1D5DB solid; 
}

#getColorBtn:hover, 
#selectBox:hover,
#colorInput {
    cursor: pointer;
}

/* Body of colors */

#body {
    display: flex;
    height: 75%;
}

#colorBlock1,
#colorBlock2,
#colorBlock3,
#colorBlock4,
#colorBlock5 {
    width: 110px;
}

#colorBlock1 {
}

#colorBlock2 {
}

#colorBlock3 {
}

#colorBlock4 {
}

#colorBlock5 {
}

/* Bottom Hex code */

.hexCode {
    display: flex;
    align-items: center;
    justify-content: space-around;
}